body{
    margin: 0;
    background-image: radial-gradient(orangered, purple);
    /* width: 80%;
    margin: 0 auto; */
}
h2{
    text-align: center;
    text-transform: uppercase;
    color: white;
}
.container{
    display: grid;
    /* grid-template-columns: 25% 50% 25%; */
    grid-template-columns: 20% 20% auto 30%;
    grid-template-rows: repeat(auto);
    /* grid-template-rows: 50% 30% 20%; */
    grid-template-areas: 
    "first first first first"
    "news news . ."
    ;
    column-gap: 2px;
    row-gap: 3px;
    justify-items: center;
    align-items: end;
}
.grid-item{
    background: #f2f2f2;
    /* margin:3px; */
    padding:6px;
}
.top {
    grid-area: first;
}
.news {
    grid-area: news;
}